<div class="row py-2">

    <!-- Registration -->
    <div class="col-md-6 mx-auto">

        <!-- Heading -->
        <div class="text-center">
            <h2 class="text-primary">Register</h2>
            <hr>
        </div>

        <div class="form">

            <form action="" [formGroup]="registerForm" (ngSubmit)="registerUser()">

                <!-- Names -->
                <div class="form-group mb-1 my-3">
                    <label for="">Names</label>
                    <input type="text" class="form-control" name="names" formControlName="names">
                </div>

                <!-- Username -->
                <div class="form-group mb-1 my-3">
                    <label for="">Username</label>
                    <input type="text" class="form-control" name="username" formControlName="username">
                </div>

                <!-- Email -->
                <div class="form-group mb-1 my-3">
                    <label for="">Email address</label>
                    <input type="email" class="form-control" name="email" formControlName="email">
                </div>

                <!-- Phone Number -->
                <div class="form-group mb-1 my-3">
                    <label for="">Phone Number</label>
                    <input type="number" class="form-control" name="phonenumber" formControlName="phonenumber">
                </div>

                <!-- Password -->
                <div class="form-group mb-1 my-3">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password" formControlName="password">
                </div>

                <!-- Confirm password -->
                <div class="form-group mb-1 my-3">
                    <label for="">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmpassword"
                        formControlName="confirmpassword">
                </div>

                <!-- Subscribe to notifications -->
                <div class="form-group mb-1 my-3">
                    <input type="checkbox" class="form-check-input" name="subscribe" formControlName="subscribe">
                    <label for="" class="form-check-label">Subscribe to Notifications</label>
                </div>

                <!-- Submit button -->
                <button class="btn btn-primary m-2" type="submit">Submit</button>

            </form>

            <!-- Already have an account -->
            <div class="withAccount py-2">
                <p>Already have an account? <span class="btn btn-primary" type="button"
                        (click)="gotologin()">Login</span></p>
            </div>

        </div>

    </div>

</div>