<!-- Navbar -->
<nav class="navbar navbar-expand-lg mb-3">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="me-2" routerLink="" routerLinkActive="active">Home</a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <!-- Left links -->

            <div class="d-flex align-items-center mt-2">
                <ul>
                    <li class="navbar-nav">
                        <a class="nav-link" routerLink="" routerLinkActive="active" *ngIf="service.loggedIn">Post</a>
                        <a class="nav-link" routerLink="verify" routerLinkActive="active"
                            *ngIf="service.loggedIn">Account</a>
                        <a class="nav-link" style="cursor: pointer;" (click)="logout()"
                            *ngIf="service.loggedIn">Logout</a>
                        <a class="nav-link" routerLink="login" routerLinkActive="active"
                            *ngIf="!service.loggedIn">Login</a>
                        <a class="nav-link" routerLink="register" routerLinkActive="active"
                            *ngIf="!service.loggedIn">Register</a>
                    </li>
                </ul>

            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->