<div class="row">

    <div class="col-md-6 mx-auto py-3">

        <div class="text-center text-primary">
            <h2>Login</h2>
            <hr>
        </div>

        <!-- Login form -->
        <form action="" [formGroup]="loginForm" (ngSubmit)="loginUser()">

            <!-- Username -->
            <div class="form-group mb-1 my-3">
                <label for="">Username</label>
                <input type="text" class="form-control" name="username" formControlName="username">
            </div>

            <!-- Password -->
            <div class="form-group mb-1 my-3">
                <label for="">Password</label>
                <input type="password" class="form-control" name="password" formControlName="password">
            </div>

            <!-- Submit form -->
            <button class="btn btn-primary m-2" type="submit">Submit</button>

        </form>

        <!-- Don't have an account -->
        <div class="noaccount py-2">
            <p>Don't have an account? <span class="btn btn-primary" type="button"
                    (click)="gotoregister()">Register</span></p>
        </div>

    </div>

</div>