<div class="row py-3">

    <!-- Verify details form -->
    <div class="col-md-6 mx-auto">

        <div class="text-center">
            <h2>Verify Phone and Email</h2>
            <hr>
        </div>

        <!-- Phone Number Form -->
        <form action="">

            <!-- Phone number -->
            <div class="form-group mb-1 my-3">
                <label for="">Phone Number</label>
                <input type="number" class="form-control">
            </div>

            <!-- Verify phone number button -->
            <button class="btn btn-primary m-3" type="submit">Verify</button>

        </form>

        <hr class="py-3">

        <!-- Email address form -->
        <form action="">

            <!-- Email address -->
            <div class="form-group mb-1 my-3">
                <label for="">Email Address</label>
                <input type="email" class="form-control">
            </div>

            <!-- Verify button -->
            <button class="btn btn-primary m-3" type="submit">Verify</button>

        </form>

    </div>

</div>